@font-face {
    font-family: "Mechanoarc";
    src: url(./fonts/Mechanoarc.otf);
}
@font-face {
    font-family: "Kotobuki";
    src: url(./fonts/Kotobuki-Regular.ttf);
}

html{
    height: 100vh;
    font-family: Kotobuki;
}
body{
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-color:rgb(0, 27, 27);
    text-align: center;
}
header{
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
#root{
    height: 100%;
    margin: 0px;
}
.pmb{
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    */color: brown;
    font-size: large;
    margin: auto;
    
    text-align: center;
}
h1{
  
    text-align: left;
    font-family:Mechanoarc;
    background-color: rgba(160,160,170,0.8);
    width: 40%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 0%;
    margin-left:10% ;
}
.myprogram{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
}
.gitbutton{
    margin-left:1%;
    padding-left:1%;
    background-size: 20vh auto;
    background-repeat: no-repeat;
    width:20vh ;
    height: 30vh;
    font-size: xx-large;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 0%;
    
}
#anttab{
    background-image: url(./images/antmemorytagnoclear.png);
}
#planetstab{
    background-image: url(./images/planetstag.png);
}
#gittab{
    background-image:url(./images/gittab.png);
}
.Openbutton{
    margin: 1%;
    
    text-align: center;
}
.pagecontents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    height: 100%;
}


.PCpagewide{
    display: grid;
    grid-template-columns:auto 70.71067812vh auto ;
    grid-template-rows: 100vh;
    height: 100%;
}
.PCpagelong{
    background-size: auto;
    height: 100%;
    background-image: url(./images/2022-01-20_10-16-17_659.png);
    background-size: 70.71067812vh;
    background-color:rgba(rgb(8, 6, 110),0.3);
    height: 100vh;
    width: 70.71067812vh;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}
.Smartphonepage{
    background-size: auto;
    height: 100%;
    background-image: url(./images/2022-01-20_10-16-17_659.png);
    background-size: 70.71067812vh;
    background-color:rgba(0,0,25,0.5);
    width: 70.71067812vh;
    height: 100vh;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
}
.widepagecenter{
    background-image: url(./images/2022-01-20_10-16-17_659.png);
    background-size: 70.71067812vh  ;
    background-color:rgba(0,0,25,0.5);
    height: 100vh;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

.widepageleft{
    background-color: rgb(0, 27, 27);
    height: 100vh;
}
.widepageright{
    background-color: rgb(0, 27, 27);
    height: 100vh;
}
.pagechengeanimation{
    position: absolute;
    width: 100vw;
    height: 10vh;
    background-color: yellow;
    z-index: 1000;
}

#n02{
    top: 10vh;
    left: 10vw;
}
#n03{
    top: 20vh;
    left: 20vw;
}#n04{
    top: 30vh;
    left: 30vw;
}#n05{
    top: 40vh;
    left: 40vw;
}#n06{
    top: 50vh;
    left: 50vw;
}#n07{
    top: 60vh;
    left: 60vw;
}#n08{
    top: 70vh;
    left: 70vw;
}#n09{
    top: 80vh;
    left: 80vw;
}#n10{
    top: 90vh;
    left: 90vw;
}